img{
	display: block;

	width:300px;
	text-align: center;
	}

img:hover{
	width:250px;
	margin:30px;
	border:none;
	padding:1px;	
	align-items: center;
	box-shadow: 0 0 20px 10px rgba(37, 50, 233, 1);
}

div{

}

div.row{
	height:550px;
	width:2100px;
}

div.cell {
	display:inline-block;
	width:310px;
	height: 510px;	
}

p{
	position: bottom-center;

	text-align: center;

}

p.head {
	font-size: 38px;
	font-style: italic;
	font-weight: bold;
}
